<footer id="contacto">
  <div class="imgFooter">
      <img src="../../../assets/img/logof.png" alt="Logo Huellitas Footer">
  </div>
  <ul class="datos">
      <li><i class="fa-solid fa-phone"></i>11-1234-5678</li>
      <li><i class="fa-solid fa-envelope"></i>info@huellitasperdidas.com.ar</li>
      <li><i class="fa-solid fa-house"></i>CABA, Buenos Aires, Argentina</li>
  </ul>
  <div class="redes">
      <h3>SEGUINOS EN LAS REDES</h3>
      <ul>
          <li><i class="fa-brands fa-facebook-square"></i></li>
          <li><i class="fa-brands fa-instagram-square"></i></li>
          <li><i class="fa-brands fa-twitter-square"></i></li>
      </ul>
  </div>
</footer>
