#secContacto,
#registro {
  min-height: 80vh;
  /* background-color: #ef5030; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}

#secContacto h1 {
  color: #108896;
}

#secContacto form,
#registro form {
  display: flex;
  flex-direction: column;
  background-color: #ef5030;
  padding: 50px;
  border-radius: 50px;
  margin-top: 50px;
}

#secContacto form label,
#registro form label {
  color: white;
  margin: 10px 0;
  font-size:1.5rem;
}

#secContacto form input,
#secContacto form textarea,
#registro form input {
  padding: 10px;
  border-radius: 20px;
  width: 600px;
}

.btnForm {
  width: 200px !important;
  font-size:1.5rem;
  color: #fff;
  background-color: #108896;
  font-weight: bold;
}

.btnForm:hover{
  background-color: #a6e8f0;
  color: #108896;
}

.contBtn {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}
