<section id="registro">
    <h2>¡Registrate!</h2>
    <form action="#" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" placeholder="Usuario" required>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="tuemail@mail.com" required>

        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" name="pass" placeholder="Contraseña" required>

        <label for="pass2">Repetí la contraseña:</label>
        <input type="password" name="pass2" id="pass2" placeholder="Repetí tu contraseña" required>

        <div class="contBtn">
            <input type="submit" value="Registrarme" class="btnForm">
        </div>

    </form>

</section>
