<section id="registro">
    <h2>¡Registrate!</h2>

    <!-- <pre>{{contactForm.value | json}}</pre>

    <form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" placeholder="Usuario" [(ngModel)]="model.usuario" required #usuario="ngModel">
        <p [hidden]="usuario.valid || usuario.pristine">Usuario inválido o inexistente</p>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="tuemail@mail.com" [(ngModel)]="model.email" required #email="ngModel">
        <p [hidden]="email.valid || email.pristine">Ingrese un email válido</p>

        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" name="pass" placeholder="Contraseña" [(ngModel)]="model.pass" required #pass="ngModel">
        <p [hidden]="pass.valid || pass.pristine">Ingrese una contraseña válida</p>

        <label for="pass2">Repetí la contraseña:</label>
        <input type="password" name="pass2" id="pass2" placeholder="Repetí tu contraseña" [(ngModel)]="model.pass2" required #pass2="ngModel">
        <p [hidden]="pass2.valid || pass2.pristine && pass.value === pass2.value">La contraseña no coincide</p>

        <div class="contBtn">
            <input type="submit" value="Registrarme" class="btnForm" [disabled]="contactForm.invalid">
        </div>

    </form> -->

    <form (ngSubmit)="onSubmit()" [formGroup]="registroForm">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" placeholder="Usuario" formControlName="usuario" required>
        <p *ngIf="registroForm.get('usuario')?.touched && registroForm.get('usuario')?.errors?.['required']">Usuario inválido o inexistente</p>
        <p *ngIf="registroForm.get('usuario')?.touched && registroForm.get('usuario')?.errors?.['minlength']">El usuario debe tener un mínimo de 3 caracteres</p>
        <p *ngIf="registroForm.get('usuario')?.touched && registroForm.get('usuario')?.errors?.['maxlength']">El usuario debe tener un máximo de 8 caracteres</p>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="tuemail@mail.com" formControlName="email" required>
        <p *ngIf="registroForm.get('email')?.touched && registroForm.get('email')?.errors?.['required']">Debe ingresar un email válido</p>
        <p *ngIf="registroForm.get('email')?.touched && registroForm.get('email')?.errors?.['email']">El formato del email es incorrecto, debe ser email@email.com</p>

        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" name="pass" placeholder="Contraseña" formControlName="pass" required>
        <p *ngIf="registroForm.get('pass')?.touched && registroForm.get('pass')?.errors?.['required']">Debe ingresar una contraseña válida</p>
        <p *ngIf="registroForm.get('pass')?.touched && registroForm.get('pass')?.errors?.['minlength']">La contraseña debe tener un mínimo de 4 caracteres</p>
        <p *ngIf="registroForm.get('pass')?.touched && registroForm.get('pass')?.errors?.['maxlength']">La contraseña debe tener un máximo de 8 caracteres</p>


        <label for="pass2">Repetí la contraseña:</label>
        <input type="password" name="pass2" id="pass2" placeholder="Repetí tu contraseña" formControlName="pass2" required>
        <p *ngIf="registroForm.get('pass2')?.touched && registroForm.get('pass2')?.errors?.['required']">Debe ingresar una contraseña válida</p>
        <p *ngIf="registroForm.get('pass2')?.touched && registroForm.get('pass2')?.errors?.['minlength']">La contraseña debe tener un mínimo de 4 caracteres</p>
        <p *ngIf="registroForm.get('pass2')?.touched && registroForm.get('pass2')?.errors?.['maxlength']">La contraseña debe tener un máximo de 8 caracteres</p>

        <div class="contBtn">
            <input type="submit" value="Registrarme" class="btnForm" [disabled]="registroForm.invalid">
        </div>

    </form>

</section>
