<section id="nosotros">
    <h2>Sobre Nosotros</h2>
    <p>Somos rescatistas que queremos facilitar la búsqueda de una mascota perdida o la de los humanos de la mascota encontrada. Si nada de eso funciona podrás ponerla en adopción o llenarte de amor con una de ellas.</p>
    <div class="contFlex">
        <div>
            <p>Huellitas Perdidas pretende ayudarte a encontrar a tu mascota perdida o a encontrar a la familia humana de la que rescataste o difundir a aquellos seres que prometen ser
                tu fiel compañer@ el resto de su vida.</p>
            <p>Desde hace varios años hemos rescatado a algunos perros y gatos de manera independiente. Con el paso del tiempo coleccionamos historias de ell@s y experiencia para cada vez hacerlo mejor, ya que, aunque parece una tarea fácil, no lo es, las asociaciones y animalistas lo saben bien.</p>
            <p>Huellitas Perdidas nació para dar información exacta en el momento preciso. Sabemos lo terrible que es que se extravíen nuestros amig@s, ésta es sólo una iniciativa para “Ayudarnos a Encontrarnos”.</p>
            <p>Para poder seguir existiendo, mejorando e implementando nuevos servicios requerimos de toda su ayuda. Es por eso que podrás realizar una donación directamente a nuestra causa. ¡Muchas gracias por apoyarnos!</p>
        </div>
        <div class="col2">
            <img src="../../../assets/img/about-index.png" alt="Perrito">
        </div>
    </div>
</section>
