<header>
  <a class="nav-link" routerLinkActive="active" routerLink="/home"><img src="assets/img/logo.png" alt="logo" id="logo"></a>

  <nav>
      <ul>
          <li><a class="nav-link" routerLinkActive="active" routerLink="/home">Inicio</a></li>
          <li><a class="nav-link" routerLinkActive="active" routerLink="/nosotros">Nosotros</a></li>
          <li><a class="nav-link" routerLinkActive="active" routerLink="/encortrar-mascotas">Encontrá a tu mascota</a></li>
          <li><a class="nav-link" routerLinkActive="active" routerLink="/contacto">Contactanos</a></li>
          <li><a class="nav-link" routerLinkActive="active" routerLink="/registro">Registrate</a></li>
      </ul>
  </nav>
</header>
