<section id="mascotas">

  <h2>Últimas mascotas encontradas</h2>

  <div class="cont-mascotas">
    <div class="card perro macho menos5 blanco" data-bs-toggle="modal" data-bs-target="#foto1">
        <div>
            <img src="../../../assets/img/perros/pexels-dominic-buccilli-981062.jpg"
              alt="Milo">
        </div>

        <h3>Milo</h3>
    </div>
    <div class="modal fade" id="foto1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Milo</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/img/perros/pexels-dominic-buccilli-981062.jpg"
              alt="Elephant at sunset">
                <ul>
                    <li>Nombre : Milo</li>
                    <li>Sexo : macho</li>
                    <li>Encontrado el : 25/09/2021</li>
                    <li>Lugar : Boedo</li>
                    <li>Años : 5</li>
                    <li>Color : Blanco</li>
                    <li>Manchas : No tiene</li>
                </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Contactar a la persona responsable</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card perro macho negro marrones" data-bs-toggle="modal" data-bs-target="#foto2">
        <div>
            <img src="../../../assets/img/perros/pexels-binyamin-mellish-169524.jpg"
              alt="Matias">
        </div>

        <h3>Matias</h3>
    </div>
    <div class="modal fade" id="foto2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Milo</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/img/perros/pexels-binyamin-mellish-169524.jpg"
              alt="Matias">
                <ul>
                    <li>Nombre : Matias</li>
                    <li>Sexo : macho</li>
                    <li>Encontrado el : 30/06/2022</li>
                    <li>Lugar : Almagro</li>
                    <li>Años : 7</li>
                    <li>Color : Negro</li>
                    <li>Manchas : Marrones</li>
                </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Contactar a la persona responsable</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card perro hembra menos5 negro blancas" data-bs-toggle="modal" data-bs-target="#foto3">
        <div>
            <img src="../../../assets/img/perros/pexels-helena-lopes-1938126.jpg"
              alt="Luna">
        </div>

        <h3>Luna</h3>
    </div>
    <div class="modal fade" id="foto3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Luna</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/img/perros/pexels-helena-lopes-1938126.jpg" alt="Luna">
                <ul>
                    <li>Nombre: Luna</li>
                    <li>Sexo: Hembra</li>
                    <li>Encontrada el: 20/01/2022</li>
                    <li>Lugar: Caballito</li>
                    <li>Años: 2</li>
                    <li>Color: Negro</li>
                    <li>Manchas: Blancas</li>
                </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Contactar a la persona responsable</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card gato macho menos5 marron" data-bs-toggle="modal" data-bs-target="#foto4">
        <div>
            <img src="../../../assets/img/gatos/pexels-alena-koval-982300.jpg"
              alt="Michifus">
        </div>

        <h3>Michifus</h3>
    </div>
    <div class="modal fade" id="foto4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Michifus</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/img/gatos/pexels-alena-koval-982300.jpg"
              alt="Elephant at sunset">
                <ul>
                    <li>Nombre: Michifus</li>
                    <li>Sexo: macho</li>
                    <li>Se perdió el: 07/03/2021</li>
                    <li>Lugar: Belgrano</li>
                    <li>Años: 3</li>
                    <li>Color: Marrón Claro</li>
                    <li>Manchas: No tiene</li>
                </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Contactar a la persona responsable</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card perro macho menor negro marrones" data-bs-toggle="modal" data-bs-target="#foto5">
        <div>
            <img src="../../../assets/img/perros/pexels-pixabay-257519.jpg"
              alt="Toby">
        </div>

        <h3>Toby</h3>
    </div>
    <div class="modal fade" id="foto5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Toby</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/img/perros/pexels-pixabay-257519.jpg"
              alt="Elephant at sunset">
                <ul>
                    <li>Nombre: Toby</li>
                    <li>Sexo: macho</li>
                    <li>Se perdió el: 03/04/2022</li>
                    <li>Lugar: Boedo</li>
                    <li>Años: menos de 1 año</li>
                    <li>Color: Negro</li>
                    <li>Manchas: Marrones</li>
                </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Contactar a la persona responsable</button>
            </div>
          </div>
        </div>
      </div>
    <div class="card gato hembra menos10 marron negras" data-bs-toggle="modal" data-bs-target="#foto6">
        <div>
            <img src="../../../assets/img/gatos/pexels-inge-wallumrød-177809.jpg"
              alt="Kala">
        </div>

        <h3>Kala</h3>
    </div>
    <div class="modal fade" id="foto6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Kala</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/img/gatos/pexels-inge-wallumrød-177809.jpg"
              alt="Elephant at sunset">
                <ul>
                    <li>Nombre: Kala</li>
                    <li>Sexo: Hembra</li>
                    <li>Se perdió el: 25/11/2021</li>
                    <li>Lugar: Microcentro</li>
                    <li>Años: 8</li>
                    <li>Color: Marrón claro</li>
                    <li>Rayas: Negras</li>
                </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Contactar a la persona responsable</button>
            </div>
          </div>
        </div>
    </div>
      <div class="card perro hembra menos5 marron blancas" data-bs-toggle="modal" data-bs-target="#foto7">
        <div>
            <img src="../../../assets/img/perros/pexels-muhannad-alatawi-58997.jpg"
              alt="Lola">
        </div>
        <h3>Lola</h3>
      </div>

        <div class="modal fade" id="foto7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Lola</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/img/perros/pexels-muhannad-alatawi-58997.jpg" alt="Elephant at sunset">
                <ul>
                    <li>Nombre: Lola</li>
                    <li>Sexo: hembra</li>
                    <li>Se encontró el: 25/12/2021</li>
                    <li>Lugar: Boedo</li>
                    <li>Años: 4</li>
                    <li>Color: Marrón claro</li>
                    <li>Manchas: Blancas</li>
                </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Contactar a la persona responsable</button>
            </div>
          </div>
        </div>
      </div>


    <div class="card gato macho menos5 negro" data-bs-toggle="modal" data-bs-target="#foto8">
        <div>
            <img src="../../../assets/img/gatos/pexels-david-bartus-1510543.jpg"
              alt="Negrito">
        </div>

        <h3>Negrito</h3>
    </div>
    <div class="modal fade" id="foto8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Milo</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/img/gatos/pexels-david-bartus-1510543.jpg"
              alt="Negrito">
                <ul>
                    <li>Nombre: Negrito</li>
                    <li>Sexo: macho</li>
                    <li>Se encontró el: 19/06/2022</li>
                    <li>Lugar: Barrio Norte</li>
                    <li>Años: 2</li>
                    <li>Color: Negro</li>
                    <li>Manchas: No tiene</li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Contactar a la persona responsable</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
