<section id="secContacto">
    <h2>Comunicate con nosotros</h2>

    <pre>{{contactForm.value | json}}</pre>

    <form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="model.nombre" required #nombre="ngModel">
        <p [hidden]="nombre.valid || nombre.pristine">Ingrese un nombre válido</p>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="tuemail@mail.com" [(ngModel)]="model.email" required #email="ngModel">
        <p [hidden]="email.valid || email.pristine">Ingrese un email válido</p>

        <label for="mensaje">Contraseña:</label>
        <textarea id="mensaje" name="mensaje" placeholder="Dejá acá tu mensaje" [(ngModel)]="model.mensaje" required #mensaje="ngModel"></textarea>
        <p [hidden]="mensaje.valid || mensaje.pristine">Escriba su mensaje</p>

        <div class="contBtn">
            <input type="submit" value="Registrarme" class="btnForm" [disabled]="contactForm.invalid">
        </div>
    </form>

    <!-- <form #formularioTD="ngForm" autocomplete="off" (ngSubmit)="enviarFormulario(formularioTD)">
        <label for="nombre">Nombre:</label>
        <input #nombreControl="ngModel" type="text" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="usuario.nombre" minLength="2" required>
        <div *ngIf="nombreControl.invalid && nombreControl.dirty" class="alert alert-warning">
          <p *ngIf="nombreControl.errors['required']">Campo Requerido</p>
          <p *ngIf="nombreControl.errors['minlength']">Cantidad minima 2 caracteres</p>
        </div>
        <label for="email">Email:</label>
        <input #emailControl="ngModel" type="email" id="email" name="email" placeholder="email@email.com" [(ngModel)]="usuario.email" required>
        <div *ngIf="emailControl.invalid && emailControl.dirty" class="alert alert-warning">
          <p *ngIf="emailControl.errors['required']">Campo Requerido</p>
          <p *ngIf="emailControl.errors['email']">Cantidad minima 2 caracteres</p>
        </div>
        <label for="msje">Dejanos tu mensaje:</label>
        <textarea #mensajeControl="ngModel" name="msje" id="msje" cols="30" rows="10" placeholder="Dejanos tu mensaje" [(ngModel)]="usuario.mensaje" maxlength="250" required></textarea>
        <div *ngIf="mensajeControl.invalid && mensajeControl.dirty" class="alert alert-warning">
          <p *ngIf="mensajeControl.errors['required']">Campo Requerido</p>
          <p *ngIf="mensajeControl.errors['maxlength']">Cantidad minima 2 caracteres</p>
        </div>
        <div class="contBtn">
            <input type="submit" value="Enviar" [disabled]="formularioTD.invalid" class="btnForm">
        </div>
    </form> -->

</section>
